* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #040d15;
    background: url(BG_edited.jpg) no-repeat;
    background-size: cover;
}

a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #FDFF9C, #ff7b00);
    box-shadow: 1px 1px 20px #ffffff;
}

a:nth-child(2) {
    color: #fff;
    background: linear-gradient(90deg, #463526, #a39389);
}

span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}